.flex-center {
  display: flex;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.eighty-character-width {
  width: 80ch;
}


/*
 * Blessed Nerd Fonts:
 * https://www.nerdfonts.com/font-downloads
 */

@font-face {
  font-family: bigBlueTerm;
  src: url(/fonts/BigBlueTerminal/BigBlueTermPlusNerdFontMono-Regular.ttf);
}

@font-face {
  font-family: robotoMono;
  src: url(/fonts/RobotoMono/RobotoMonoNerdFontMono-Regular.ttf);
}

.vertical-buffer-1em {
  margin-top: .25em;
  margin-bottom: .25em;
  padding-top: .25em;
  padding-bottom: .25em;
}

/*
 * Default is the dark theme.
 * Font color idea came from: 
 * https://archive.irixnet.org/apocrypha/nekonomicon/forum/8/16727778/1.html
 */

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the html and body take up the full height of the viewport */
}

.quasi-body {
  background-color: black;
  color: #dddddd;
  font-family: bigBlueTerm;
  width: 100vw; 
  height: 100vh; 
}

a {
  background-image: linear-gradient(currentColor 0 0);
  background-position: center bottom;
  background-size: var(--underline-width, 0%) 0.1em;
  background-repeat: no-repeat;
  color: #dddddd;
  text-decoration: none;
  transition: background-size 0.15s;
  padding-bottom: .2em
}

a:hover {
  --underline-width: 100%;
}

.dark-theme-selector {
  display: none;
}

.light-theme-selector {
  display: inline;
}

#light:target ~ .quasi-body {
  background-color: white;
  color: black;
  font-family: robotoMono;
  width: 100vw; 
  height: 100vh; 
}

#light:target ~ .quasi-body a {
  background-image: linear-gradient(currentColor 0 0);
  background-position: center bottom;
  background-size: var(--underline-width, 0%) 0.1em;
  background-repeat: no-repeat;
  color: black;
  text-decoration: none;
  transition: background-size 0.15s;
  padding-bottom: .2em
}

#light:target ~ .quasi-body a:hover {
  --underline-width: 100%;
}

#light:target ~ .quasi-body .light-theme-selector {
  display: none;
}

#light:target ~ .quasi-body .dark-theme-selector {
  display: inline;
}

#dark:target ~ .quasi-body {
  background-color: black;
  color: #dddddd;
  font-family: bigBlueTerm;
  width: 100vw; 
  height: 100vh; 
}

#dark:target ~ .quasi-body a {
  background-image: linear-gradient(currentColor 0 0);
  background-position: center bottom;
  background-size: var(--underline-width, 0%) 0.1em;
  background-repeat: no-repeat;
  color: #dddddd;
  text-decoration: none;
  transition: background-size 0.15s;
  padding-bottom: .2em
}

#dark:target ~ .quasi-body a:hover {
  --underline-width: 100%;
}

#dark:target ~ .quasi-body .dark-theme-selector {
  display: none;
}

#dark:target ~ .quasi-body .light-theme-selector {
  display: inline;
}



