/*
 * Default is the dark theme.
 * Font color idea came from: 
 * https://archive.irixnet.org/apocrypha/nekonomicon/forum/8/16727778/1.html
 */

p {
  line-height: 1.45;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.quasi-body {
  background-color: black;
  color: #FFFFFF;
  font-family: bigBlueTerm;
  width: 100vw; 
  height: 100vh;
  overflow: scroll;
}

a {
  color: #FFFFFF;
}

.dark-theme-selector {
  display: none;
}

.light-theme-selector {
  display: inline;
}

.dark-theme-link {
  display: inline;
}

.light-theme-link {
  display: none;
}

.list-item-except-last {
  padding-bottom: .5em;
}

.first-menu {
  list-style-type: "->";
  padding-left: 0;
}

.second-menu {
  list-style-type: "->";
  padding-left: 0;
}
