#light:target ~ .quasi-body {
  background-color: white;
  color: black;
  font-family: robotoMono;
  width: 100vw; 
  height: 100vh; 
}

#light:target ~ .quasi-body a {
  color: black;
}

#light:target ~ .quasi-body .light-theme-selector {
  display: none;
}

#light:target ~ .quasi-body .dark-theme-selector {
  display: inline;
}
