#light:target ~ .quasi-body {
  background-color: white;
  color: black;
  font-family: robotoMono;
  width: 100vw; 
  height: 100vh; 
}

#light:target ~ .quasi-body a {
  color: black;
}

#light:target ~ .quasi-body .light-theme-selector {
  display: none;
}

#light:target ~ .quasi-body .dark-theme-selector {
  display: inline;
}

#light:target ~ .quasi-body .light-theme-link {
  display: inline;
}

#light:target ~ .quasi-body .dark-theme-link {
  display: none;
}

#light:target ~ .quasi-body .first-menu {
  list-style-type: "->";
  padding-left: 0;
}

#light:target ~ .quasi-body .second-menu {
  list-style-type: "->";
  padding-left: 0;
}

#light:target ~ .quasi-body .snippet-body {
  border: .35em double black;  
}

#light:target ~ .quasi-body .snippet-title {
  text-align: left;
}

#light:target ~ .quasi-body .snippet-output {
  border-top: .1em dotted black;
}
