#light:target ~ .quasi-body {
  background-color: white;
  color: black;
  font-family: robotoMono;
  width: 100vw; 
  height: 100vh; 
}

#light:target ~ .quasi-body a {
  color: black;
}

#light:target ~ .quasi-body .light-theme-selector {
  display: none;
}

#light:target ~ .quasi-body .dark-theme-selector {
  display: inline;
}

#light:target ~ .quasi-body .light-theme-link {
  display: inline;
}

#light:target ~ .quasi-body .dark-theme-link {
  display: none;
}

#light:target ~ .quasi-body .first-menu {
  list-style-type: "->";
  padding-left: 0;
}

#light:target ~ .quasi-body .second-menu {
  list-style-type: "->";
  padding-left: 0;
}

#light:target ~ .quasi-body .snippet-content {
  display: inline-block;                                                         
  border: .1em solid black;  
}

#light:target ~ .quasi-body .snippet-output {
  margin-top: .5em;                                                              
  border-top: .2em double black;                                               
  padding: .5em;
}

#light:target ~ .quasi-body .snippet-title {
  margin-bottom: .5em;                                                           
  padding-left: .5em;                                                            
  padding-bottom: .5em;                                                          
  padding-right: .5em;                                                           
  border-bottom: .1em dashed black; 
}
