/*
 * Blessed Nerd Fonts:
 * https://www.nerdfonts.com/font-downloads
 */

@font-face {
  font-family: bigBlueTerm;
  src: url(/fonts/BigBlueTerminal/SmallBigBlueTermPlusNerdFontMono-Regular.ttf);
}

@font-face {
  font-family: robotoMono;
  src: url(/fonts/RobotoMono/SmallRobotoMonoNerdFontMono-Regular.ttf);
}

.flex-center {
  display: flex;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.eighty-character-width {
  width: 80ch;
}

.vertical-buffer-1em {
  margin-top: .25em;
  margin-bottom: .25em;
  padding-top: .25em;
  padding-bottom: .25em;
}

ul.inline-list > li {
  display: inline-block;
}

.list {
 list-style-type: "->";
}

.list-item {
  padding-left: 1em;
}

.snippet-body {
  border: .35em double white;
  padding: .5em;
}

.snippet-title {
  text-align: left;
}

.snippet-output {
  border-top: .1em dotted white;
}

.snippet-container {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  margin: 1em;
}

.snippet-code {
  padding-top: .5em;
  padding-bottom: .5em;
}
