/*
 * Blessed Nerd Fonts:
 * https://www.nerdfonts.com/font-downloads
 */

@font-face {
  font-family: bigBlueTerm;
  src: url(/fonts/BigBlueTerminal/SmallBigBlueTermPlusNerdFontMono-Regular.ttf);
}

@font-face {
  font-family: robotoMono;
  src: url(/fonts/RobotoMono/SmallRobotoMonoNerdFontMono-Regular.ttf);
}

.flex-center {
  display: flex;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.eighty-character-width {
  width: 80ch;
}

.vertical-buffer-1em {
  margin-top: .25em;
  margin-bottom: .25em;
  padding-top: .25em;
  padding-bottom: .25em;
}

ul.inline-list > li {
  display: inline-block;
}

.list {
 list-style-type: "->";
}

.list-item {
  padding-left: 1em;
}

.snippet-content {
  display: inline-block;  
  border: .1em solid #FFFFFF;
}

.snippet-title {
  margin-bottom: .5em;
  padding-left: .5em;
  padding-bottom: .5em;
  padding-right: .5em;
  border-bottom: .1em dashed white;
}

.snippet-repository {
  padding-top: .5em; 
  padding-left: .5em;
  padding-right: .5em; 
}

.snippet-text {
  white-space: pre;
  padding: .5em;
}

.snippet-output {
  margin-top: .5em;
  border-top: .2em double #FFFFFF;
  padding: .5em;
}

.snippet-container {
  display: flex;
  justify-content: center;
  margin: 2em;
}
